@model Medicat.Models.Administration

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Administration</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PatientId" class="col-md-2 control-label"></label>
            <div class="form-group">
               @Html.DropDownList("PatientId", (IEnumerable<SelectListItem>)ViewData["PatientsList"], new {@class = "form-control" })
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MedicineId" class="col-md-2 control-label"></label>        
                @Html.DropDownList("MedicineId", (IEnumerable<SelectListItem>)ViewData["MedicinesList"], new { @class = "form-control" })
                <span asp-validation-for="MedicineId" class="text-danger"></span>
           
        </div>
        <div class="form-group">
            <label asp-for="Dose" class="col-md-2 control-label"></label>
           
                <input type="number" asp-for="Dose" class="form-control" />
                <span asp-validation-for="Dose" class="text-danger"></span>
            
        </div>
        <div class="form-group">
            <label asp-for="AdministrationDate" class="col-md-2 control-label"></label>
           
           <input  asp-for="AdministrationDate" value=@DateTime.UtcNow.Date class="form-control" />
             <span asp-validation-for="AdministrationDate" class="text-danger"></span>
           
        </div>
        @*<div class="form-group">
            <label asp-for="ApplicationUserId" class="col-md-2 control-label"></label>
           
                <input asp-for="ApplicationUserId" class="form-control" />
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
          
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
