@{
   ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
   <h1>Medicat</h1>
   <button class="btn btn-primary"  onclick="location.href='@Url.Action("Create", "Administrations")'" >Record Medication</button>
</div>
